<th scope="row"><%= person.id %></th>
<td><%= person.first_name %></td>
<td><%= person.last_name %></td>
<td><%= person.email %></td>
<td><%= person.phone %></td>
<td><%= person.errors&.full_messages.join(', ') %></td>
<td></td>